<!-- Header-->
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">bazaart</h1>
      <h2 class="masthead-subheading mb-0">A market for talent</h2>
      <h6 class="mt-5">
        <span class="fw-light">Role -</span>
        UX Designer
      </h6>
      <h6 class="">
        <span class="fw-light">Year -</span>
        2022
      </h6>
      <h6 class="">
        <span class="fw-light">Client -</span>
        SIIT Scoala Informala de IT
      </h6>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
  <div class="container text-center py-5">
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart.png')" />
  </div>

  <div class="container px-sm-4 px-md-5">
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">OVERVIEW</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          Bazaart mobile app is a UX Case study project on which I have worked
          as part of my assignment during the UX Bootcamp at SIIT (Scoala
          informala de IT).
        </p>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">THE GOAL</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          The initial idea from which we started was : Hire an artist - an
          online platform where freelance artists could promote their work and
          sell their artistic services.
        </p>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">MY ROLE</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          During this project, I have worked both as part of a team and
          individually :research was a team effort followed by an individual
          design phase. I went through all the stages of the Design Thinking
          Process, from understanding users and defining their needs to creating
          deliverables such as wireframes and high-fidelity prototypes and then
          using the MVP created to do user testing.
        </p>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">THE PROBLEM</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          Firstly, we started by doing exploratory research in order to gather
          some ideas about this topic and help us define the problem, since this
          was a new product and we didn’t knew where in the market this app
          would fit. Based on this information we established a set of
          assumptions and hypothesis, what we know and what we know we don’t.
          This allowed us to elaborate a research plan: what problem are we
          trying to address and what questions we should ask.
        </p>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">QUESTIONS</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead m-0">
          + How people are currently finding artists for their specific needs?
        </p>
        <p class="lead m-0">
          + What pain points do they encounter when trying to find the right
          artist ?
        </p>
        <p class="lead m-0">
          + How artists are currently finding clients and promoting their work
          portfolio?
        </p>
        <p class="lead m-0">
          + What pain points do they have with the current process of finding
          clients?
        </p>
        <p class="lead m-0">
          + What categories of creative services people are searching for most
          often?
        </p>
        <p class="lead m-0">
          + What are the situations or projects for which people need creative
          services?
        </p>
        <p class="lead m-0">
          + What are users expectations regarding this process?
        </p>
      </div>
    </div>
  </div>

  <div class="container text-center py-5">
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-2.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-2.png')" />
  </div>

  <div class="container px-sm-4 px-md-5">
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">RESEARCH</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          After we knew what we need to find out and we had defined our research
          goals, we dived into the actual research: competitor analysis,
          quantitative research (surveys) and qualitative research (interviews).
        </p>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">COMPETITOR ANALYSIS</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          Based on some exploratory research regarding our competition, I have
          selected for comparison one app from the Romanian market and two more
          internationally renowned apps in order to identify possible
          opportunities.
        </p>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">SURVEYS + INTERVIEWS</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          We each contributed to writing the survey and interview scripts and
          then conducted the actual interviews with users. During the
          interviews, we have came across some interesting findings regarding
          people’s habits when it comes to searching for creative services or
          clients for their services, and the problems they are facing in this
          process.
        </p>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">AFFINITY DIAGRAM</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          The next step was to break down all the data we gathered through a
          process of coding and recoding, organizing and structuring, to uncover
          meaning. Then using deductive codes, I grouped the pieces of
          information together in categories in order to highlight the main
          features of our app.
        </p>
      </div>
    </div>
  </div>

  <div class="container text-center py-5">
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-3.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-3.png')" />
  </div>

  <div class="container px-sm-4 px-md-5">
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">MAIN FINDINGS</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <ul>
          <li class="lead" *ngFor="let item of mainFindings; index as i">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">USER PERSONA</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          Based on the interviews, two users personas were created
          representative of each user group: the artist and the buyer, to
          further understand users needs, experiences, behaviors, and goals. The
          personas created summarized our user research data to help us shape
          the product design strategy.
        </p>
      </div>
    </div>
  </div>

  <div class="container text-center py-5">
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-4.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-4.png')" />
  </div>

  <div class="container text-center py-5">
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-5.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-5.png')" />
  </div>

  <div class="container px-sm-4 px-md-5">
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">DESIGN</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          After the research phase was completed, the next step in the process
          was creating user flows diagram to display the path a user could take
          when using this app. I had begun with the general user flow, which
          encompasses the main features of the app in order to have a general
          image of the product, and then proceed to detail one feature of the
          app. By considering each step within the app, I was able to enhance
          the user journey and ensure maximum smoothness. The feature I focused
          on was that of creating a new event and finding, adding and requesting
          quotes from multiple artists for that particular event.
        </p>
      </div>
    </div>
  </div>

  <div class="container text-center py-5">
    <h4 class="">IA GENERAL FLOW</h4>
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-6.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-6.png')" />
  </div>

  <div class="container text-center py-5">
    <h4 class="">USER FLOW - CREATE AN EVENT</h4>
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-7.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-7.png')" />
  </div>

  <div class="container px-sm-4 px-md-5">
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">WIREFRAMES</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          After structuring the user flow, I started sketching ideas on how the
          screen would look using pen and paper, at first, to create them faster
          and explore more ideas. Further, a low fidelity prototype was
          generated to help envision the screens better.
        </p>
      </div>
    </div>
  </div>

  <div class="container text-center py-5">
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-8.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-8.png')" />
  </div>

  <div class="container px-sm-4 px-md-5">
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">HI-FI MOCKUPS</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          I started the high fidelity prototyping by first working on a design
          system in order to maintain design consistency. The high fidelity
          mockup was created based on the previous exploration done with the
          help of the wireframes and explores the app from the perspective of
          the buyers account.
        </p>
      </div>
    </div>
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">USABILITY TESTING</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          Using the prototype created with the high fidelity mockups, I have
          divided the flow into 3 main tasks for conducting usability testing
          with 3 participants. Seeing users interact with the prototype helped
          me identify areas that I could improve upon.
        </p>
      </div>
    </div>
  </div>

  <div class="container ratio ratio-16x9">
    <iframe
      src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FtSa6MKK8NnB7xE8qpdQKXL%2FHire-an-artist%3Fpage-id%3D233%253A25800%26type%3Ddesign%26node-id%3D233-25803%26viewport%3D229%252C211%252C0.04%26scaling%3Dscale-down%26starting-point-node-id%3D233%253A25803%26show-proto-sidebar%3D1"
      allowfullscreen></iframe>
  </div>

  <div class="container text-center py-5">
    <h5 class="">Create a new event -> set the details of your new event</h5>
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-9.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-9.png')" />
  </div>

  <div class="container text-center py-5">
    <h5 class="">
      Add artists -> browsing artists and adding them to your event
    </h5>
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-10.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-10.png')" />
  </div>

  <div class="container text-center py-5">
    <h5 class="">
      Manage booked artists -> checking quotes status and accepting/declining
      the offer received
    </h5>
    <img
      class="img-fluid rounded image-zoom"
      src="assets/img/bazaart-11.png"
      alt="..."
      (click)="openFormModal('assets/img/bazaart-11.png')" />
  </div>

  <div class="container py-5">
    <h4 class="text-center">MVP PROTOTYPE</h4>
    <p class="lead pt-5 pb-0 mb-0">
      The final step was integrating the findings of usability testing into
      making a minimum viable product.
      <br />
      The product explores the app from the buyer account and contains the
      following main features:
    </p>
    <ul>
      <li class="lead" *ngFor="let item of mainFeatures; index as i">
        {{ item }}
      </li>
    </ul>
  </div>

  <div class="container py-3 ratio ratio-16x9">
    <iframe
      src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FtSa6MKK8NnB7xE8qpdQKXL%2FHire-an-artist%3Fpage-id%3D587%253A73273%26type%3Ddesign%26node-id%3D587-73395%26viewport%3D85%252C499%252C0.04%26scaling%3Dscale-down%26starting-point-node-id%3D587%253A73395"
      allowfullscreen></iframe>
  </div>

  <div class="container px-sm-4 px-md-5 py-5">
    <div class="row gx-5 pb-5">
      <div class="col-sm-12 col-md-3">
        <h4 class="">TAKEAWAY</h4>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="lead">
          In summary, the key takeaway is that it is essential to approach every
          project with an open mind and to conduct meticulous research to
          identify the needs of the target audience, validating each hypothesis
          as you go along. By abandoning preconceived notions and prioritizing
          data-driven decisions, you can create products that are truly valuable
          and meet the needs of your users.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Modal to show zoom images-->
<div
  class="modal fade"
  id="imageZoomModal"
  tabindex="-1"
  aria-labelledby="imageZoomModalLabel"
  aria-hidden="true">
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <img
          id="modal-img"
          src=""
          alt="Image"
          class="img-fluid w-100 h-100"
          style="object-fit: contain" />
      </div>
    </div>
  </div>
</div>
