<!-- Projects Section-->
<section class="py-5">
  <div class="container px-lg-5 px-sm-0 mb-5">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Projects</span>
      </h1>
    </div>

    <!-- Project Card 1-->
    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
      <div class="card-body p-0 row bg-light">
        <div class="d-flex align-items-center col-lg-6">
          <div class="p-5">
            <h2 class="fw-bolder">Bazaart</h2>
            <h6 class="fw-bolder">Role - UX Designer</h6>
            <h6 class="fw-bolder">Projects - UX Case Study mobile app</h6>
            <h6 class="fw-bolder">Year - 2022</h6>
          </div>
        </div>
        <div class="d-flex col-lg-6">
          <img class="img-fluid" src="assets/img/bazart.png" alt="..." />
        </div>
      </div>
    </div>

    <!-- Project Card 2-->
    <div
      class="card overflow-hidden shadow rounded-4 border-0 mb-5"
      *ngIf="false">
      <div class="card-body p-0 row bg-light">
        <div class="d-flex align-items-center col-lg-6">
          <div class="p-5">
            <h2 class="fw-bolder">Evopack</h2>
            <h6 class="fw-bolder">Role - UX Designer</h6>
            <h6 class="fw-bolder">Projects - Ecommerce website</h6>
            <h6 class="fw-bolder">Year - 2023</h6>
          </div>
        </div>
        <div class="d-flex col-lg-6">
          <img class="img-fluid" src="assets/img/evopack.png" alt="..." />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
  <div class="container px-5 my-5">
    <div class="text-center">
      <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
      <a
        class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder"
        (click)="goToContact()">
        Contact me
      </a>
    </div>
  </div>
</section>
